<div class="container">

  <p>
    This is a LESS code snippet for styling box shadows.
  </p>
  <p>
    Less is a pre-processor styling language.
  </p>

  <p>
    Preprocessors such as less or scss allow us (programmers) to use dynamic features such as variables, functions, loops and
    more in our style sheet to create a more elegant and maintainable style for our front end application.
    <br>Such preprocessors can then be compiled to standard CSS for our runtime environment.
  </p>
</div>