<div class="container mat-body-2 text-center base">

  <p class="mat-title">
    This is a LESS code snippet for styling box shadows.
  </p>
  <p>
    It declares a base color (shade of pink) and a function that takes parameters and uses them to style a .box-shadow class,
    as well as a default .box class.
  </p>
  <p>
    Less is a pre-processor styling language.
  </p>

  <p>
    Preprocessors such as less or scss allow us (programmers) to use dynamic features such as variables, functions, loops, imports
    and more in our stylesheet to create a more elegant and maintainable style for our front end application.
    <br>Such preprocessors can then be compiled to standard CSS for our runtime environment.
    <br> For a detailed brief on styling preprocessors, check the documentation for
    <a href="http://lesscss.org/features/">less</a> or
    <a href="http://sass-lang.com/documentation/file.SASS_REFERENCE.html">sass</a>
  </p>
</div>