<mat-toolbar class="navbar navbar-expand-md navbar-light fixed-top" color="primary">
  <mat-toolbar-row>
    <a style="padding-top: 15px" class="navbar-brand" routerLink='/'>
      <mat-icon #icon svgIcon="batman"></mat-icon>
    </a>
    <span class="nav-item">
      <a class="nav-link pointer" routerLink="/first">First Task</a>
    </span>


    <span class="nav-item">
      <a class="nav-link pointer" routerLink="/second">Second Task</a>
    </span>

    <span class="nav-item">
      <a class="nav-link pointer" routerLink="/third">Third Task</a>
    </span>
    <span class="nav-item">
      <a class="nav-link pointer" routerLink="/fourth">Fourth Task</a>
    </span>
    <span class="nav-item">
      <a class="nav-link pointer" routerLink="/fifth">Fifth Task</a>
    </span>
  </mat-toolbar-row>

</mat-toolbar>