<div class="container">
  <div class="row">

    <div class="col-md-6">

      <img class="image" src="http://nihongo-e-na.com/archives/006/201206/large-4fe806d39a5fc.png" alt="">
    </div>
    <div class="col-md-6">
      <h3>
        <small>
          This website's design is very bad. Here's a few of the reasons why:
        </small>
      </h3>
      <ol class="list-group">
        <li class="list-group-item">
          1. It's incredibly dense. content is packed together, makes it very distracting and difficult to navigate.
        </li>
        <li class="list-group-item">
          2. Too many colors! a good website design has a primary color, a secondary (accent) color, perhaps a few different shades
          of those and a few more color-cue colors (success, danger).
          <br>This website's colors provide no input and no coherent flow, besides, they're ugly.
        </li>
        <li class="list-group-item">
          3. No focus. There is no header, no footer, and nowhere to focus attention in the website.
          <br> Everything is packed together in such a mess that any new visitor would find trouble searching for his prefered
          content.
        </li>
        <li class="list-group-item">
          4. No personality. the use of seemingly random and various colors, no order and no theme, and no memorable 'brand' to set
          it apart of peer websites.
        </li>
        <li class="list-group-item">
          These are some of probably MANY critiques to this website's design. I confess my design knowledge is mostly self-learned
          and so I lack the professional expertise for a more detailed, high level breakdown of the design choices.
        </li>
      </ol>
    </div>
  </div>
</div>