@import "~bootstrap/dist/css/bootstrap.css";
@import "./material.scss";
/*
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
*/

body {
    padding-top: 90px;
    font-family: Elena;
}
.pointer{
    cursor: pointer;
}
a {
    color: black;
}
$secondary: #b3ebbf;
