<div class="text-center jumbotron">
  <h1>
    Razor Grip Project
  </h1>
</div>
<div class="container text-center mat-body-2">
  <img src="../../assets/razorgrip-logo.jpg" alt="">
  <br>
  <p class="mat-title">
    This project was built using Angular6, Angular Material, and Bootstrap.
  </p>
  <p>
    I chose these technologies because they are the ones I'm most familiar with, although any other tech would do.
  </p>
  <p>
    Use the navbar to navigate between the different tasks. the batman icon represents a logo to navigate home :).
  </p>
  <div class="mat-body-2">
    <div class="mat-title">
      Breakdown & Issues:
    </div>

    <ul class="text-left">
      <li>
        Task 1: I genuinely hope I correctly understood the goal of this task :). otherwise, no issues.
      </li>
      <li>
        Task 2: I am certain a better performant implementation is possible. I put most of my effort implementing this logic in a
        concise and readable way, the javascript style.
      </li>
    </ul>
  </div>
</div>